$primary-color: #E50914;    // Netflix 红色
$secondary-color: #222222;  // 深灰色背景
$background-color: #141414; // 非常深的灰色/黑色背景
$card-background-color: #333333; // 深灰色卡片背景
$text-color: #FFFFFF;       // 纯白色文本
$secondary-text-color: #B3B3B3; // 浅灰色副文本
$link-color: #E50914; 